* {
  margin: 0;
  padding: 0; 
}

body{
    /*background-color: #231F20;*/
    background-color: #0f0f0f;
   /*background-color: #FFFDEF;*/
   /*background-color: #F3ECE7;*/

   height: 100%;
	width: 100vw;
	overflow:hidden;

	/*font-family: 'Open Sans', sans-serif;*/
	/*font-family: 'Raleway', sans-serif;*/
} 

html{
	height: 100%;
	width: 100vw;
}

#stop-container p{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	/*padding:20px;*/
}
h1{
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
}

/*SCROLLBAR*/
/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.container{
	/*border: 1px solid red;*/
    height: 100%;
    /*margin: 0;*/
    position: relative;
}

/*
HELP WITH POSITIONING
https://stackoverflow.com/questions/6780614/css-how-to-position-two-elements-on-top-of-each-other-without-specifying-a-hei
*/


#mapid { 
	height: 100%;
	/*width: 100vw;*/
	width:65vw;
	top:0px;
	right:0px;
	position:absolute;
	z-index: 1;
 }

 
 #stop-container{
 	position:absolute;
 	top:0px;
 	left:0px;
 	background-color: white;
 	width:480px;
 	height:100%;
 	box-shadow: 3px 0px 50px black;
 	z-index: 2;
 }

/*  #stop-container{
	margin: 0;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
 	background-color: white;
 	width:480px;
 	height:80%;
 	box-shadow: 3px 0px 50px black;
 	z-index: 2;
 	display: none;
 }*/

/* .top-bar{
 	position:fixed;
 	width:480px;
 	height:45px;
 	top:0%;
 	background-color:white;
	border-bottom: 1px solid grey;
 }*/

 #bottom-bar{
 	position:fixed;
 	width:480px;
 	height:45px;
 	bottom:0%;
 	/*background-color:white;*/
 	/*background-color: #E0E0E2;*/
 	background-color: #D3D4D9;
 	border-top: 1px solid grey; 
 }

 #max-and-son,  #zimmermans, #dr-comics, #akrams, #la-salle, #graffitis{
 	position: fixed;
 	width:480px;
 	/*height:100%;*/
 	top:0px;
 	bottom:85px;
 	overflow: auto;
 	overflow-x: hidden;
 	display:none;

  }

/* .stop-info-box:hover {
 	overflow-y: scroll;
 }*/

#max-and-son p, h2, #zimmermans p,h2, #dr-comics p,h2, #akrams p,h2, #la-salle p,h2, #graffitis p,h2{
	/*margin: 15px;*/
	/*padding:15px;*/
}

.infoBox{
	padding:24px;
}

.infoBox p{
	margin: 20px 10px 0px 0px;
}

 .gap-example{
 	position:fixed;
 	bottom:45px;
 }

 #stop-selection{
 margin: 0;
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-27.5%, -50%);
 }

 #stop-selection svg{
 	cursor:pointer;
 	padding-right: 4px;
  	padding-left: 4px;
  	margin: 0px 15px 0px 15px;
 	
 }

  #nextButton{
 	position:absolute;
 	/*right:0%;*/
 	right:15px;
 	padding:3px 0;
 	cursor:pointer;
 }

 #preButton{
 	position:absolute;
 	/*left:0%;*/
 	/*top:50%;*/
 	left:15px;
 	padding-top: 2.5px;
 	cursor: pointer;
 }


.images{
	/*display: none;*/
}

.img-container{
  overflow: hidden;
  width: 100%;
  max-height: 275px;
}

.img-container img {
 	width:100%;
 	height:100%;
/* 	width: 100%;
  height: 120px;*/
 }

.images svg{
	cursor: pointer;
}
 
.prev, .next{
	cursor: pointer;
  position: absolute;
    color: white;
  font-weight: bold;
  font-size: 20px;
  top:25%;

}

.next{
	right:0;
}
 

 #me{
 	position:absolute;
 	bottom:0%;
 	right:55px;
 	z-index: 2;
 	font-family: 'Open Sans', sans-serif;
 	font-size: 12px;
 	color: black;
 }

